button {
    background-color: cornflowerblue;
}

#button-submit {
    margin-top: 10px;
    display: block;
}

.gif-div {
    border: 2px solid gray;
    clear: both;
    display: inline-block;
    padding: 5px;
}

#fav-gifs {
    margin-top: 10px;
}

.fav-button {
    float: right;
}

.gif {
    display: block;
    padding-top: 5px;
}